#automat{
	border: 1px solid black;
	border-radius: 10px;
	width: 375px;
	height: 450px;
	background-color: skyblue;
	padding-top: 20px;
}

.wrap{	
	border: 1px solid black;
	border-radius: 10px;
	width: 100px;
	height: 100px;
	background-color: white;
	display: inline-block;
	margin: 10px;
}

#divinp{	
	text-align: right;
	padding-right: 10px;
}

#press{	
	font: bold 30px comic sans ms;
	color: teal;
}

.tern{		
	width: 100px;
	height: 100px;
	transform-style: preserve-3d;
}

.allside{
	position: absolute;
	width: 100px;
	height: 100px;
	border-radius: 10px;
	text-align: center;
	font-size: 75px;
	backface-visibility: hidden;
}

.front{	
	background-color: green;
	color: red;
}

.back{
	background-color: orange;
	transform: rotateX(180deg);
}

.one{
	transition: 5s;
}

.two{
	transition: 8s;
}	

.three{	
	transition: 10s;
}

/* .tern:hover{ */
	/* transform: rotateX(180deg); */
